AtomPair 	 CA 	 66 	 CA 	  98 	 SCALARWEIGHTEDFUNC 	 2 	 SUMFUNC 	 2 	 HARMONIC 	 24.0741 	 0.4 	 CONSTANTFUNC 	 -2
AtomPair 	 CA 	 66 	 CA 	  176 	 SCALARWEIGHTEDFUNC 	 2 	 SUMFUNC 	 2 	 HARMONIC 	 25.9491 	 0.4 	 CONSTANTFUNC 	 -2
AtomPair 	 CA 	 66 	 CA 	  308 	 SCALARWEIGHTEDFUNC 	 2 	 SUMFUNC 	 2 	 HARMONIC 	 20.0937 	 0.4 	 CONSTANTFUNC 	 -2
AtomPair 	 CA 	 98 	 CA 	  176 	 SCALARWEIGHTEDFUNC 	 2 	 SUMFUNC 	 2 	 HARMONIC 	 19.1991 	 0.4 	 CONSTANTFUNC 	 -2
AtomPair 	 CA 	 98 	 CA 	  308 	 SCALARWEIGHTEDFUNC 	 2 	 SUMFUNC 	 2 	 HARMONIC 	 27.1191 	 0.4 	 CONSTANTFUNC 	 -2
AtomPair 	 CA 	 176 	 CA 	  308 	 SCALARWEIGHTEDFUNC 	 2 	 SUMFUNC 	 2 	 HARMONIC 	 21.7248 	 0.4 	 CONSTANTFUNC 	 -2
#The selected parameters were: 2 1.07 0.4 -2
AtomPair 	 CA 	 71 	 CA 	  142 	 SCALARWEIGHTEDFUNC 	 2 	 SUMFUNC 	 2 	 HARMONIC 	 24.2378 	 0.5 	 CONSTANTFUNC 	 -2
AtomPair 	 CA 	 71 	 CA 	  184 	 SCALARWEIGHTEDFUNC 	 2 	 SUMFUNC 	 2 	 HARMONIC 	 26.6203 	 0.5 	 CONSTANTFUNC 	 -2
AtomPair 	 CA 	 71 	 CA 	  289 	 SCALARWEIGHTEDFUNC 	 2 	 SUMFUNC 	 2 	 HARMONIC 	 20.9106 	 0.5 	 CONSTANTFUNC 	 -2
AtomPair 	 CA 	 142 	 CA 	  184 	 SCALARWEIGHTEDFUNC 	 2 	 SUMFUNC 	 2 	 HARMONIC 	 11.2969 	 0.5 	 CONSTANTFUNC 	 -2
AtomPair 	 CA 	 142 	 CA 	  289 	 SCALARWEIGHTEDFUNC 	 2 	 SUMFUNC 	 2 	 HARMONIC 	 18.2114 	 0.5 	 CONSTANTFUNC 	 -2
AtomPair 	 CA 	 184 	 CA 	  289 	 SCALARWEIGHTEDFUNC 	 2 	 SUMFUNC 	 2 	 HARMONIC 	 11.7985 	 0.5 	 CONSTANTFUNC 	 -2
#The selected parameters were: 2 1.05 0.5 -2
