AtomPair 	 CA 	 66 	 CA 	  98 	 SCALARWEIGHTEDFUNC 	 4 	 SUMFUNC 	 2 	 HARMONIC 	 23.1742 	 0.7 	 CONSTANTFUNC 	 -5
AtomPair 	 CA 	 66 	 CA 	  176 	 SCALARWEIGHTEDFUNC 	 4 	 SUMFUNC 	 2 	 HARMONIC 	 24.979 	 0.7 	 CONSTANTFUNC 	 -5
AtomPair 	 CA 	 66 	 CA 	  308 	 SCALARWEIGHTEDFUNC 	 4 	 SUMFUNC 	 2 	 HARMONIC 	 19.3426 	 0.7 	 CONSTANTFUNC 	 -5
AtomPair 	 CA 	 98 	 CA 	  176 	 SCALARWEIGHTEDFUNC 	 4 	 SUMFUNC 	 2 	 HARMONIC 	 18.4814 	 0.7 	 CONSTANTFUNC 	 -5
AtomPair 	 CA 	 98 	 CA 	  308 	 SCALARWEIGHTEDFUNC 	 4 	 SUMFUNC 	 2 	 HARMONIC 	 26.1053 	 0.7 	 CONSTANTFUNC 	 -5
AtomPair 	 CA 	 176 	 CA 	  308 	 SCALARWEIGHTEDFUNC 	 4 	 SUMFUNC 	 2 	 HARMONIC 	 20.9126 	 0.7 	 CONSTANTFUNC 	 -5
#The selected parameters were: 4 1.03 0.7 -5
AtomPair 	 CA 	 71 	 CA 	  142 	 SCALARWEIGHTEDFUNC 	 2 	 SUMFUNC 	 2 	 HARMONIC 	 24.007 	 0.7 	 CONSTANTFUNC 	 -5
AtomPair 	 CA 	 71 	 CA 	  184 	 SCALARWEIGHTEDFUNC 	 2 	 SUMFUNC 	 2 	 HARMONIC 	 26.3668 	 0.7 	 CONSTANTFUNC 	 -5
AtomPair 	 CA 	 71 	 CA 	  289 	 SCALARWEIGHTEDFUNC 	 2 	 SUMFUNC 	 2 	 HARMONIC 	 20.7114 	 0.7 	 CONSTANTFUNC 	 -5
AtomPair 	 CA 	 142 	 CA 	  184 	 SCALARWEIGHTEDFUNC 	 2 	 SUMFUNC 	 2 	 HARMONIC 	 11.1893 	 0.7 	 CONSTANTFUNC 	 -5
AtomPair 	 CA 	 142 	 CA 	  289 	 SCALARWEIGHTEDFUNC 	 2 	 SUMFUNC 	 2 	 HARMONIC 	 18.0379 	 0.7 	 CONSTANTFUNC 	 -5
AtomPair 	 CA 	 184 	 CA 	  289 	 SCALARWEIGHTEDFUNC 	 2 	 SUMFUNC 	 2 	 HARMONIC 	 11.6861 	 0.7 	 CONSTANTFUNC 	 -5
#The selected parameters were: 2 1.04 0.7 -5
