AtomPair 	 CA 	 66 	 CA 	  98 	 SCALARWEIGHTEDFUNC 	 3 	 SUMFUNC 	 2 	 HARMONIC 	 23.8491 	 0.4 	 CONSTANTFUNC 	 -3
AtomPair 	 CA 	 66 	 CA 	  176 	 SCALARWEIGHTEDFUNC 	 3 	 SUMFUNC 	 2 	 HARMONIC 	 25.7066 	 0.4 	 CONSTANTFUNC 	 -3
AtomPair 	 CA 	 66 	 CA 	  308 	 SCALARWEIGHTEDFUNC 	 3 	 SUMFUNC 	 2 	 HARMONIC 	 19.9059 	 0.4 	 CONSTANTFUNC 	 -3
AtomPair 	 CA 	 98 	 CA 	  176 	 SCALARWEIGHTEDFUNC 	 3 	 SUMFUNC 	 2 	 HARMONIC 	 19.0197 	 0.4 	 CONSTANTFUNC 	 -3
AtomPair 	 CA 	 98 	 CA 	  308 	 SCALARWEIGHTEDFUNC 	 3 	 SUMFUNC 	 2 	 HARMONIC 	 26.8657 	 0.4 	 CONSTANTFUNC 	 -3
AtomPair 	 CA 	 176 	 CA 	  308 	 SCALARWEIGHTEDFUNC 	 3 	 SUMFUNC 	 2 	 HARMONIC 	 21.5217 	 0.4 	 CONSTANTFUNC 	 -3
#The selected parameters were: 3 1.06 0.4 -3
AtomPair 	 CA 	 71 	 CA 	  142 	 SCALARWEIGHTEDFUNC 	 4 	 SUMFUNC 	 2 	 HARMONIC 	 24.4687 	 0.4 	 CONSTANTFUNC 	 -4
AtomPair 	 CA 	 71 	 CA 	  184 	 SCALARWEIGHTEDFUNC 	 4 	 SUMFUNC 	 2 	 HARMONIC 	 26.8739 	 0.4 	 CONSTANTFUNC 	 -4
AtomPair 	 CA 	 71 	 CA 	  289 	 SCALARWEIGHTEDFUNC 	 4 	 SUMFUNC 	 2 	 HARMONIC 	 21.1097 	 0.4 	 CONSTANTFUNC 	 -4
AtomPair 	 CA 	 142 	 CA 	  184 	 SCALARWEIGHTEDFUNC 	 4 	 SUMFUNC 	 2 	 HARMONIC 	 11.4045 	 0.4 	 CONSTANTFUNC 	 -4
AtomPair 	 CA 	 142 	 CA 	  289 	 SCALARWEIGHTEDFUNC 	 4 	 SUMFUNC 	 2 	 HARMONIC 	 18.3848 	 0.4 	 CONSTANTFUNC 	 -4
AtomPair 	 CA 	 184 	 CA 	  289 	 SCALARWEIGHTEDFUNC 	 4 	 SUMFUNC 	 2 	 HARMONIC 	 11.9108 	 0.4 	 CONSTANTFUNC 	 -4
#The selected parameters were: 4 1.06 0.4 -4
