AtomPair 	 CA 	 3 	 CA 	  4 	 SCALARWEIGHTEDFUNC 	 3 	 HARMONIC 	 3.40x40 	 1
AtomPair 	 CA 	 3 	 CA 	  4 	 SCALARWEIGHTEDFUNC 	 3 	 HARMONIC 	 5.38x39 	 1
AtomPair 	 CA 	 3 	 CA 	  4 	 SCALARWEIGHTEDFUNC 	 3 	 HARMONIC 	 7.32x31 	 1
AtomPair 	 CA 	 3 	 CA 	  4 	 SCALARWEIGHTEDFUNC 	 3 	 HARMONIC 	 5.38x39 	 1
AtomPair 	 CA 	 3 	 CA 	  4 	 SCALARWEIGHTEDFUNC 	 3 	 HARMONIC 	 7.32x31 	 1
AtomPair 	 CA 	 3 	 CA 	  4 	 SCALARWEIGHTEDFUNC 	 3 	 HARMONIC 	 7.32x31 	 1
AtomPair 	 CA 	 3 	 CA 	  4 	 SCALARWEIGHTEDFUNC 	 3 	 HARMONIC 	 4.57x57 	 1
AtomPair 	 CA 	 3 	 CA 	  4 	 SCALARWEIGHTEDFUNC 	 3 	 HARMONIC 	 5.46x461 	 1
AtomPair 	 CA 	 3 	 CA 	  4 	 SCALARWEIGHTEDFUNC 	 3 	 HARMONIC 	 6.48x48 	 1
AtomPair 	 CA 	 3 	 CA 	  4 	 SCALARWEIGHTEDFUNC 	 3 	 HARMONIC 	 5.46x461 	 1
AtomPair 	 CA 	 3 	 CA 	  4 	 SCALARWEIGHTEDFUNC 	 3 	 HARMONIC 	 6.48x48 	 1
AtomPair 	 CA 	 3 	 CA 	  4 	 SCALARWEIGHTEDFUNC 	 3 	 HARMONIC 	 6.48x48 	 1
