AtomPair 	 CA 	 66 	 CA 	  98 	 SCALARWEIGHTEDFUNC 	 2 	 SUMFUNC 	 2 	 HARMONIC 	 23.3992 	 0.6 	 CONSTANTFUNC 	 -6
AtomPair 	 CA 	 66 	 CA 	  176 	 SCALARWEIGHTEDFUNC 	 2 	 SUMFUNC 	 2 	 HARMONIC 	 25.2215 	 0.6 	 CONSTANTFUNC 	 -6
AtomPair 	 CA 	 66 	 CA 	  308 	 SCALARWEIGHTEDFUNC 	 2 	 SUMFUNC 	 2 	 HARMONIC 	 19.5304 	 0.6 	 CONSTANTFUNC 	 -6
AtomPair 	 CA 	 98 	 CA 	  176 	 SCALARWEIGHTEDFUNC 	 2 	 SUMFUNC 	 2 	 HARMONIC 	 18.6608 	 0.6 	 CONSTANTFUNC 	 -6
AtomPair 	 CA 	 98 	 CA 	  308 	 SCALARWEIGHTEDFUNC 	 2 	 SUMFUNC 	 2 	 HARMONIC 	 26.3588 	 0.6 	 CONSTANTFUNC 	 -6
AtomPair 	 CA 	 176 	 CA 	  308 	 SCALARWEIGHTEDFUNC 	 2 	 SUMFUNC 	 2 	 HARMONIC 	 21.1157 	 0.6 	 CONSTANTFUNC 	 -6
#The selected parameters were: 2 1.04 0.6 -6
AtomPair 	 CA 	 71 	 CA 	  142 	 SCALARWEIGHTEDFUNC 	 3 	 SUMFUNC 	 2 	 HARMONIC 	 23.7762 	 0.4 	 CONSTANTFUNC 	 -7
AtomPair 	 CA 	 71 	 CA 	  184 	 SCALARWEIGHTEDFUNC 	 3 	 SUMFUNC 	 2 	 HARMONIC 	 26.1133 	 0.4 	 CONSTANTFUNC 	 -7
AtomPair 	 CA 	 71 	 CA 	  289 	 SCALARWEIGHTEDFUNC 	 3 	 SUMFUNC 	 2 	 HARMONIC 	 20.5123 	 0.4 	 CONSTANTFUNC 	 -7
AtomPair 	 CA 	 142 	 CA 	  184 	 SCALARWEIGHTEDFUNC 	 3 	 SUMFUNC 	 2 	 HARMONIC 	 11.0817 	 0.4 	 CONSTANTFUNC 	 -7
AtomPair 	 CA 	 142 	 CA 	  289 	 SCALARWEIGHTEDFUNC 	 3 	 SUMFUNC 	 2 	 HARMONIC 	 17.8645 	 0.4 	 CONSTANTFUNC 	 -7
AtomPair 	 CA 	 184 	 CA 	  289 	 SCALARWEIGHTEDFUNC 	 3 	 SUMFUNC 	 2 	 HARMONIC 	 11.5737 	 0.4 	 CONSTANTFUNC 	 -7
#The selected parameters were: 3 1.03 0.4 -7
