AtomPair 	 CA 	 62 	 CA 	  171 	 SCALARWEIGHTEDFUNC 	 3 	 HARMONIC 	 21.8456225363344 	 1
AtomPair 	 CA 	 62 	 CA 	  234 	 SCALARWEIGHTEDFUNC 	 3 	 HARMONIC 	 23.4006567642876 	 1
AtomPair 	 CA 	 62 	 CA 	  264 	 SCALARWEIGHTEDFUNC 	 3 	 HARMONIC 	 10.0238957496574 	 1
AtomPair 	 CA 	 171 	 CA 	  234 	 SCALARWEIGHTEDFUNC 	 3 	 HARMONIC 	 12.6599809332747 	 1
AtomPair 	 CA 	 171 	 CA 	  264 	 SCALARWEIGHTEDFUNC 	 3 	 HARMONIC 	 22.0041901420828 	 1
AtomPair 	 CA 	 234 	 CA 	  264 	 SCALARWEIGHTEDFUNC 	 3 	 HARMONIC 	 20.2338143291846 	 1
AtomPair 	 CA 	 70 	 CA 	  96 	 SCALARWEIGHTEDFUNC 	 3 	 HARMONIC 	 25.9104900185234 	 1
AtomPair 	 CA 	 70 	 CA 	  171 	 SCALARWEIGHTEDFUNC 	 3 	 HARMONIC 	 24.4143716896422 	 1
AtomPair 	 CA 	 70 	 CA 	  261 	 SCALARWEIGHTEDFUNC 	 3 	 HARMONIC 	 11.6984608822873 	 1
AtomPair 	 CA 	 96 	 CA 	  171 	 SCALARWEIGHTEDFUNC 	 3 	 HARMONIC 	 17.9442103621965 	 1
AtomPair 	 CA 	 140 	 CA 	  261 	 SCALARWEIGHTEDFUNC 	 3 	 HARMONIC 	 20.4494045222474 	 1
AtomPair 	 CA 	 171 	 CA 	  261 	 SCALARWEIGHTEDFUNC 	 3 	 HARMONIC 	 21.9309813366586 	 1
