AtomPair 	 CA 	 65 	 CA 	  96 	 SCALARWEIGHTEDFUNC 	 4 	 SUMFUNC 	 2 	 HARMONIC 	 23.3992 	 0.7 	 CONSTANTFUNC 	 -7
AtomPair 	 CA 	 65 	 CA 	  171 	 SCALARWEIGHTEDFUNC 	 4 	 SUMFUNC 	 2 	 HARMONIC 	 25.2215 	 0.7 	 CONSTANTFUNC 	 -7
AtomPair 	 CA 	 65 	 CA 	  253 	 SCALARWEIGHTEDFUNC 	 4 	 SUMFUNC 	 2 	 HARMONIC 	 19.5304 	 0.7 	 CONSTANTFUNC 	 -7
AtomPair 	 CA 	 96 	 CA 	  171 	 SCALARWEIGHTEDFUNC 	 4 	 SUMFUNC 	 2 	 HARMONIC 	 18.6608 	 0.7 	 CONSTANTFUNC 	 -7
AtomPair 	 CA 	 96 	 CA 	  253 	 SCALARWEIGHTEDFUNC 	 4 	 SUMFUNC 	 2 	 HARMONIC 	 26.3588 	 0.7 	 CONSTANTFUNC 	 -7
AtomPair 	 CA 	 171 	 CA 	  253 	 SCALARWEIGHTEDFUNC 	 4 	 SUMFUNC 	 2 	 HARMONIC 	 21.1157 	 0.7 	 CONSTANTFUNC 	 -7
#The selected parameters were: 4 1.04 0.7 -7
AtomPair 	 CA 	 70 	 CA 	  140 	 SCALARWEIGHTEDFUNC 	 3 	 SUMFUNC 	 2 	 HARMONIC 	 23.7762 	 0.4 	 CONSTANTFUNC 	 -3
AtomPair 	 CA 	 70 	 CA 	  179 	 SCALARWEIGHTEDFUNC 	 3 	 SUMFUNC 	 2 	 HARMONIC 	 26.1133 	 0.4 	 CONSTANTFUNC 	 -3
AtomPair 	 CA 	 70 	 CA 	  224 	 SCALARWEIGHTEDFUNC 	 3 	 SUMFUNC 	 2 	 HARMONIC 	 20.5123 	 0.4 	 CONSTANTFUNC 	 -3
AtomPair 	 CA 	 140 	 CA 	  179 	 SCALARWEIGHTEDFUNC 	 3 	 SUMFUNC 	 2 	 HARMONIC 	 11.0817 	 0.4 	 CONSTANTFUNC 	 -3
AtomPair 	 CA 	 140 	 CA 	  224 	 SCALARWEIGHTEDFUNC 	 3 	 SUMFUNC 	 2 	 HARMONIC 	 17.8645 	 0.4 	 CONSTANTFUNC 	 -3
AtomPair 	 CA 	 179 	 CA 	  224 	 SCALARWEIGHTEDFUNC 	 3 	 SUMFUNC 	 2 	 HARMONIC 	 11.5737 	 0.4 	 CONSTANTFUNC 	 -3
#The selected parameters were: 3 1.03 0.4 -3
