AtomPair 	 CA 	 69 	 CA 	  98 	 SCALARWEIGHTEDFUNC 	 3 	 HARMONIC 	 26.1903999462575 	 1
AtomPair 	 CA 	 69 	 CA 	  176 	 SCALARWEIGHTEDFUNC 	 3 	 HARMONIC 	 26.6738218936156 	 1
AtomPair 	 CA 	 98 	 CA 	  176 	 SCALARWEIGHTEDFUNC 	 3 	 HARMONIC 	 17.9442103621965 	 1
AtomPair 	 CA 	 69 	 CA 	  308 	 SCALARWEIGHTEDFUNC 	 3 	 HARMONIC 	 16.9695079675917 	 1
AtomPair 	 CA 	 98 	 CA 	  308 	 SCALARWEIGHTEDFUNC 	 3 	 HARMONIC 	 25.3711223638214 	 1
AtomPair 	 CA 	 176 	 CA 	  308 	 SCALARWEIGHTEDFUNC 	 3 	 HARMONIC 	 21.0487173611151 	 1
