AtomPair 	 CA 	 65 	 CA 	  96 	 SCALARWEIGHTEDFUNC 	 2 	 SUMFUNC 	 2 	 HARMONIC 	 23.8491 	 0.4 	 CONSTANTFUNC 	 -4
AtomPair 	 CA 	 65 	 CA 	  171 	 SCALARWEIGHTEDFUNC 	 2 	 SUMFUNC 	 2 	 HARMONIC 	 25.7066 	 0.4 	 CONSTANTFUNC 	 -4
AtomPair 	 CA 	 65 	 CA 	  253 	 SCALARWEIGHTEDFUNC 	 2 	 SUMFUNC 	 2 	 HARMONIC 	 19.9059 	 0.4 	 CONSTANTFUNC 	 -4
AtomPair 	 CA 	 96 	 CA 	  171 	 SCALARWEIGHTEDFUNC 	 2 	 SUMFUNC 	 2 	 HARMONIC 	 19.0197 	 0.4 	 CONSTANTFUNC 	 -4
AtomPair 	 CA 	 96 	 CA 	  253 	 SCALARWEIGHTEDFUNC 	 2 	 SUMFUNC 	 2 	 HARMONIC 	 26.8657 	 0.4 	 CONSTANTFUNC 	 -4
AtomPair 	 CA 	 171 	 CA 	  253 	 SCALARWEIGHTEDFUNC 	 2 	 SUMFUNC 	 2 	 HARMONIC 	 21.5217 	 0.4 	 CONSTANTFUNC 	 -4
#The selected parameters were: 2 1.06 0.4 -4
AtomPair 	 CA 	 70 	 CA 	  140 	 SCALARWEIGHTEDFUNC 	 3 	 SUMFUNC 	 2 	 HARMONIC 	 24.6995 	 0.7 	 CONSTANTFUNC 	 -5
AtomPair 	 CA 	 70 	 CA 	  179 	 SCALARWEIGHTEDFUNC 	 3 	 SUMFUNC 	 2 	 HARMONIC 	 27.1274 	 0.7 	 CONSTANTFUNC 	 -5
AtomPair 	 CA 	 70 	 CA 	  224 	 SCALARWEIGHTEDFUNC 	 3 	 SUMFUNC 	 2 	 HARMONIC 	 21.3089 	 0.7 	 CONSTANTFUNC 	 -5
AtomPair 	 CA 	 140 	 CA 	  179 	 SCALARWEIGHTEDFUNC 	 3 	 SUMFUNC 	 2 	 HARMONIC 	 11.5121 	 0.7 	 CONSTANTFUNC 	 -5
AtomPair 	 CA 	 140 	 CA 	  224 	 SCALARWEIGHTEDFUNC 	 3 	 SUMFUNC 	 2 	 HARMONIC 	 18.5583 	 0.7 	 CONSTANTFUNC 	 -5
AtomPair 	 CA 	 179 	 CA 	  224 	 SCALARWEIGHTEDFUNC 	 3 	 SUMFUNC 	 2 	 HARMONIC 	 12.0232 	 0.7 	 CONSTANTFUNC 	 -5
#The selected parameters were: 3 1.07 0.7 -5
