AtomPair 	 CA 	 65 	 CA 	  96 	 SCALARWEIGHTEDFUNC 	 3 	 SUMFUNC 	 2 	 HARMONIC 	 23.1742 	 0.4 	 CONSTANTFUNC 	 -10
AtomPair 	 CA 	 65 	 CA 	  171 	 SCALARWEIGHTEDFUNC 	 3 	 SUMFUNC 	 2 	 HARMONIC 	 24.979 	 0.4 	 CONSTANTFUNC 	 -10
AtomPair 	 CA 	 65 	 CA 	  253 	 SCALARWEIGHTEDFUNC 	 3 	 SUMFUNC 	 2 	 HARMONIC 	 19.3426 	 0.4 	 CONSTANTFUNC 	 -10
AtomPair 	 CA 	 96 	 CA 	  171 	 SCALARWEIGHTEDFUNC 	 3 	 SUMFUNC 	 2 	 HARMONIC 	 18.4814 	 0.4 	 CONSTANTFUNC 	 -10
AtomPair 	 CA 	 96 	 CA 	  253 	 SCALARWEIGHTEDFUNC 	 3 	 SUMFUNC 	 2 	 HARMONIC 	 26.1053 	 0.4 	 CONSTANTFUNC 	 -10
AtomPair 	 CA 	 171 	 CA 	  253 	 SCALARWEIGHTEDFUNC 	 3 	 SUMFUNC 	 2 	 HARMONIC 	 20.9126 	 0.4 	 CONSTANTFUNC 	 -10
#The selected parameters were: 3 1.03 0.4 -10
AtomPair 	 CA 	 70 	 CA 	  140 	 SCALARWEIGHTEDFUNC 	 3 	 SUMFUNC 	 2 	 HARMONIC 	 24.007 	 0.5 	 CONSTANTFUNC 	 -6
AtomPair 	 CA 	 70 	 CA 	  179 	 SCALARWEIGHTEDFUNC 	 3 	 SUMFUNC 	 2 	 HARMONIC 	 26.3668 	 0.5 	 CONSTANTFUNC 	 -6
AtomPair 	 CA 	 70 	 CA 	  224 	 SCALARWEIGHTEDFUNC 	 3 	 SUMFUNC 	 2 	 HARMONIC 	 20.7114 	 0.5 	 CONSTANTFUNC 	 -6
AtomPair 	 CA 	 140 	 CA 	  179 	 SCALARWEIGHTEDFUNC 	 3 	 SUMFUNC 	 2 	 HARMONIC 	 11.1893 	 0.5 	 CONSTANTFUNC 	 -6
AtomPair 	 CA 	 140 	 CA 	  224 	 SCALARWEIGHTEDFUNC 	 3 	 SUMFUNC 	 2 	 HARMONIC 	 18.0379 	 0.5 	 CONSTANTFUNC 	 -6
AtomPair 	 CA 	 179 	 CA 	  224 	 SCALARWEIGHTEDFUNC 	 3 	 SUMFUNC 	 2 	 HARMONIC 	 11.6861 	 0.5 	 CONSTANTFUNC 	 -6
#The selected parameters were: 3 1.04 0.5 -6
