AtomPair 	 CA 	 65 	 CA 	  96 	 SCALARWEIGHTEDFUNC 	 4 	 SUMFUNC 	 2 	 HARMONIC 	 23.1742 	 0.5 	 CONSTANTFUNC 	 -8
AtomPair 	 CA 	 65 	 CA 	  171 	 SCALARWEIGHTEDFUNC 	 4 	 SUMFUNC 	 2 	 HARMONIC 	 24.979 	 0.5 	 CONSTANTFUNC 	 -8
AtomPair 	 CA 	 65 	 CA 	  253 	 SCALARWEIGHTEDFUNC 	 4 	 SUMFUNC 	 2 	 HARMONIC 	 19.3426 	 0.5 	 CONSTANTFUNC 	 -8
AtomPair 	 CA 	 96 	 CA 	  171 	 SCALARWEIGHTEDFUNC 	 4 	 SUMFUNC 	 2 	 HARMONIC 	 18.4814 	 0.5 	 CONSTANTFUNC 	 -8
AtomPair 	 CA 	 96 	 CA 	  253 	 SCALARWEIGHTEDFUNC 	 4 	 SUMFUNC 	 2 	 HARMONIC 	 26.1053 	 0.5 	 CONSTANTFUNC 	 -8
AtomPair 	 CA 	 171 	 CA 	  253 	 SCALARWEIGHTEDFUNC 	 4 	 SUMFUNC 	 2 	 HARMONIC 	 20.9126 	 0.5 	 CONSTANTFUNC 	 -8
#The selected parameters were: 4 1.03 0.5 -8
AtomPair 	 CA 	 70 	 CA 	  140 	 SCALARWEIGHTEDFUNC 	 4 	 SUMFUNC 	 2 	 HARMONIC 	 23.7762 	 0.4 	 CONSTANTFUNC 	 -4
AtomPair 	 CA 	 70 	 CA 	  179 	 SCALARWEIGHTEDFUNC 	 4 	 SUMFUNC 	 2 	 HARMONIC 	 26.1133 	 0.4 	 CONSTANTFUNC 	 -4
AtomPair 	 CA 	 70 	 CA 	  224 	 SCALARWEIGHTEDFUNC 	 4 	 SUMFUNC 	 2 	 HARMONIC 	 20.5123 	 0.4 	 CONSTANTFUNC 	 -4
AtomPair 	 CA 	 140 	 CA 	  179 	 SCALARWEIGHTEDFUNC 	 4 	 SUMFUNC 	 2 	 HARMONIC 	 11.0817 	 0.4 	 CONSTANTFUNC 	 -4
AtomPair 	 CA 	 140 	 CA 	  224 	 SCALARWEIGHTEDFUNC 	 4 	 SUMFUNC 	 2 	 HARMONIC 	 17.8645 	 0.4 	 CONSTANTFUNC 	 -4
AtomPair 	 CA 	 179 	 CA 	  224 	 SCALARWEIGHTEDFUNC 	 4 	 SUMFUNC 	 2 	 HARMONIC 	 11.5737 	 0.4 	 CONSTANTFUNC 	 -4
#The selected parameters were: 4 1.03 0.4 -4
